<ion-header>
    <ion-toolbar color="warning">
      <ion-title>PPS-4B</ion-title>
    </ion-toolbar>
  
  </ion-header>
  <ion-content padding [scrollEvents]="true" class="back" id='content' color='medium'>
    <ion-card *ngFor="let p of arrayCosasLindas" color='warning'>
      <ion-card-header>
        <ion-card-subtitle>{{p.usuario}} - - - {{p.fecha}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="p.lado">
        {{p.mensaje}}
      </ion-card-content>
    </ion-card>
  
  
  </ion-content>
  
    <ion-footer>
      <ion-item>
        <ion-textarea [(ngModel)]="mensaje"></ion-textarea>
        <ion-button color="success" (click)="sendMessage()">
          <ion-icon name="send"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-footer>