.slides{
    width: 100%;
    height: 90%;
    display: relative;
    background-color: rgb(106, 167, 228);
    justify-content: center;
}

.usuarios{
    width: 100%;
    height: 10%;
    display: relative;
    justify-content: center;
    background-color: rgb(106, 167, 228);
}

.imagen{
    width: 100%;
    height: 93%;
    display: relative;
    justify-content: center;
}

.picture{
    width: 90%;
    height: 90%;
}

.text{
    position: relative;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
    
}

.cosa{
    width: 100%;
    height: 10%;
    background-color: rgb(146, 255, 195);
}
