  <div *ngIf='showSplash' class="base">
    <div class="center">
    </div>
  </div>
    <ion-header style="background-color:cyan">
      <ion-toolbar color="primary">
        <ion-title text-center>
          {{titulo}}
          <ion-button style="position: relative; right: 0;" (click)='LogOut()'>
            <ion-icon slot="icon-only" name="star"></ion-icon>
          </ion-button>
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-router-outlet></ion-router-outlet>
    </ion-content>

