  <div class="mitad" style="background-color: rgb(243, 220, 13);" (click)='mover("linda")'>
      <ion-icon class="icono" style="float: left;" color='danger' slot="start" name="chatboxes"></ion-icon>
      <h2 class="text" style="float: right;color: black;">PPS-4A</h2>
  </div>
  <div class="mitad" style="background-color: rgb(153, 9, 179);" (click)='mover("fea")'>
      <h2 class="text" style="float: left; color: white;">PPS-4B</h2>
      <ion-icon class="icono" style="float: right;" color='danger' slot="end" name="chatbubbles"></ion-icon>
  </div>